.nav_bar{
    display: flex;
    border-bottom: 2px orange solid;
}

.nav_text{
    flex: 1;
    text-align: left;
    font-size: 25px;
}

.nav_text h1{
    margin: 0;
    padding-left: 15px;
    padding-top: 5px ;
    color: orange;
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: 5px;
}

.nav_bar ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Reenie Beanie', cursive;

}

.nav_bar li{
    padding: 12px 20px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav_bar li a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
}

.pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    padding-top: 5px;
    padding-bottom: 3px;
}
