#container {
    width: 97.5%;
    height: 30%; /* temporary */
    display: block;
    border: 4px solid orange;
    border-radius: 10px;
    margin: 30px 20px 20px;
}

#search_bar {
    grid-row: 1;
    grid-column: 1 / 6;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#search_form {
    display: flex;
}

#search_input{
flex: 1;
    margin-right: 10px;
}

#search_button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid orange;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

#search_button:hover {
    background-color: orange;
    color: #fff;
}

#search_input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid orange;
    padding: 5px;
}

#categories{
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
}

#categories a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    transition: all 0.3s ease-in-out;
}

#categories a:hover{
    background-color: orange;
    color: #fff;
}


#categories > ul > li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
}