.container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #ff8800; /* Orange text color */
}

.container header {
    background-color: #ff8800; /* Orange header background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px;
    position: fixed; /* Make header fixed at the top */
    width: 100%; /* Full width */
    top: 0; /* Align at the top */
    left: 0; /* Align left */
    display: flex;
    flex-direction: row;
}
header h1 {
    margin-left: 40%;
}


/* add home button css here. */
.homeBtnLink {
    margin-left: 40%;
}
.Homebtn {
    background-color: #ff8800;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.homeBtnLink :hover {
    background-color: #981900;
    transform: scale(1.1);
}

.books {
    width: 100%;
    margin-top: 8%;
    display: grid;
    grid-template-areas: 
    'book1 book2 book3'
    'checkout checkout payment_methods';
}

.books div {
    border: 1px solid #ff8800;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}


/* book 1 css */
.book1 {
    grid-area: book1;
    align-items: center;
}



/* book 2 css */
.book2 {
    grid-area: book2;
}


/* book 3 css */
.book3 {
    grid-area: book3;
}

/* book title css */
.book_title{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}

/* images css */
.imgs {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* button css */

.btn {
    background-color: #ff8800;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.remove {
   color: #981900;
}

/* checkout styling */

.checkout {
    grid-area: checkout;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkout p {
    font-size: 50px;
    font-weight: bold;
}

/* payment methods styling */

.payment_methods {
    grid-area: payment_methods;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}