.catalogue{
    overflow-x: hidden;
    overflow-y: auto;
    height: 1000px;
    flex: 1;
    margin: 20px;
    padding: 10px;
    width: 70%;
    border: 4px solid orange;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}